html, body {
    /* margin-right: -4px; COMPENSATES THE VERTICAL SCROLLBAR
    overflow-x: hidden; REMOVES HORIZONTAL SCROLLBAR THE ABOVE CREATES
    margin-top: 0px; COMPENSATES THE HORIZONTAL SCROLLBAR */
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 400px) {
    body {
    background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);
    background-position: center;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    
} }


.conductorname {
    font-size: 2em;
    font-style: 700;
    color: #e33946;
}
.conductortitle {
    font-size: 2em;
    
}
.arenititle {
    font-size: 7em;
    font-style: unset;
    font-weight: 900;
}


.nav {
    /* position: fixed; */
    top: 0; 
    left: 0;
    width: 100%;
    padding: 15px 100px;
    box-sizing: border-box;
    transition: .4s;
    position: -webkit-sticky;
    
    
}
ul a:hover {
    color: red;
}
.navbar {
    overflow: hidden;
    color: grey;
    background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);

}
.navbar img{
    width: 100px;
    height: 90px;
    padding: 0px 165px;
    float: left;
    margin: -110px;
    position: absolute;

}
.navbar.black {
    /* background: rgba(0,0,0,0.8); */
    height: 100px;
    padding: 10px 100px;
    float: left;
    transition: 0.4s;
}
.navbar.black.logo {
    color: black;

}
nav ul {
    list-style: none;
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: -120px;

}
nav ul li a{
    color:white;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.4s;
    line-height: 80px;
    font-weight: 500;
    font-size: 20px;
    
    
  
}
nav p{
    color: red;
    font-size: 2.5em;
    padding-top: none;
    font-weight: 700;
    padding: 15px 180px;
    


}

.section1 {
    background: url("back.jpg");
    background-position: center;
    width: 100%;
    height: 100vh; 
    background-size: cover;
}

section header div nav p {
    margin-top: 20px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }

.first-container {

    color: white;
    text-align: center;
}

/* .section2 {
    display: flex;
    justify-content: space-evenly;
} */
/* .flyers img {
    width: 80px;
    height: 30px;
    display: flex;
    
    
} */
/* .upcomingevents img{
    display: flex; 
    justify-content: space-evenly;
    flex-direction: column; 
    
} */



.upcomingevents img {
    position: relative;
    height: auto;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.headings {
    font-size: 4em;
    text-align: center;
}
.smallnews {
    font-size: 2em;
    text-align: center;
}
.headings:hover {
    color: red;
}




/* .titleevents {
    color: black;
    font-size: 2em;
}
.titleevents2 {
    color: black;
    font-size: 2em;

}
.titleevents3 {
    color: black;
    font-size: 2em;
} */

.third-container {
    background: beige;
    background-position: center;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    
}

.fourth-container {
    background-color: black;

}
.fifth-container {
    background-color: white;
}



